venv
__pycache__/
*.py[cod]
.vscode

data/*
data/SDFs/*
data/ShapeNetCoreV2/*
training/*
training/DeepSDF/*
notebooks/*

!data/SDFs
!data/SDFs/.gitkeep
!data/ShapeNetCoreV2/.gitkeep
!training/DeepSDF
!training/DeepSDF/.gitkeep
!notebooks/sampling_visualization.ipynb