# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
appdirs=1.4.3=pypi_0
argon2-cffi=20.1.0=pypi_0
astroid=2.4.2=py38_0
attrs=20.1.0=pypi_0
backcall=0.2.0=pypi_0
blas=1.0=openblas
bleach=3.1.5=pypi_0
ca-certificates=2020.7.22=0
cachecontrol=0.12.6=pypi_0
certifi=2020.6.20=py38_0
cffi=1.14.2=pypi_0
chardet=3.0.4=pypi_0
colorama=0.4.3=pypi_0
contextlib2=0.6.0=pypi_0
cycler=0.10.0=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.6.0=pypi_0
distlib=0.3.0=pypi_0
distro=1.4.0=pypi_0
embree=2.17.7=0
entrypoints=0.3=pypi_0
future=0.18.2=pypi_0
html5lib=1.0.1=pypi_0
idna=2.8=pypi_0
imageio=2.9.0=pypi_0
ipaddr=2.2.0=pypi_0
ipykernel=5.3.4=pypi_0
ipython=7.18.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
isort=5.4.2=py38_0
jedi=0.17.2=pypi_0
jinja2=2.11.2=pypi_0
joblib=0.16.0=py_0
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.7=pypi_0
jupyter-console=6.2.0=pypi_0
jupyter-core=4.6.3=pypi_0
kiwisolver=1.2.0=pypi_0
lazy-object-proxy=1.4.3=py38h7b6447c_0
ld_impl_linux-64=2.33.1=h53a641e_7
libblas=3.8.0=17_openblas
libcblas=3.8.0=17_openblas
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.5.0=hdf63c60_16
liblapack=3.8.0=17_openblas
libopenblas=0.3.10=pthreads_hb3c22a3_4
libstdcxx-ng=9.1.0=hdf63c60_0
lockfile=0.12.2=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib=3.3.1=pypi_0
mccabe=0.6.1=py38_1
mistune=0.8.4=pypi_0
msgpack=0.6.2=pypi_0
nbconvert=5.6.1=pypi_0
nbformat=5.0.7=pypi_0
ncurses=6.2=he6710b0_1
networkx=2.5=pypi_0
notebook=6.1.3=pypi_0
numpy=1.19.1=py38hbc27379_2
open3d=0.10.0.0=pypi_0
openssl=1.1.1g=h7b6447c_0
packaging=20.3=pypi_0
pandas=1.1.1=pypi_0
pandocfilters=1.4.2=pypi_0
parso=0.7.1=pypi_0
pep517=0.8.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.2.0=pypi_0
pip=20.2.2=py38_0
progress=1.5=pypi_0
prometheus-client=0.8.0=pypi_0
prompt-toolkit=3.0.6=pypi_0
ptyprocess=0.6.0=pypi_0
pycparser=2.20=pypi_0
pyembree=0.1.6=py38hcb8c335_1
pyglet=1.5.7=pypi_0
pygments=2.6.1=pypi_0
pylint=2.6.0=py38_0
pyparsing=2.4.6=pypi_0
pyrsistent=0.16.0=pypi_0
python=3.8.5=hcff3b4d_0
python-dateutil=2.8.1=pypi_0
python_abi=3.8=1_cp38
pytoml=0.1.21=pypi_0
pytz=2020.1=pypi_0
pywavelets=1.1.1=pypi_0
pyzmq=19.0.2=pypi_0
qtconsole=4.7.6=pypi_0
qtpy=1.9.0=pypi_0
readline=8.0=h7b6447c_0
requests=2.22.0=pypi_0
retrying=1.3.3=pypi_0
rope=0.17.0=py_0
rtree=0.9.4=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.2=py38h0573a6f_0
scipy=1.5.2=py38habc2bb6_0
send2trash=1.5.0=pypi_0
setuptools=49.6.0=py38_0
shapely=1.7.1=pypi_0
six=1.14.0=pypi_0
sqlite=3.33.0=h62c20be_0
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pyh5ca1d4c_0
tifffile=2020.8.25=pypi_0
tk=8.6.10=hbc83047_0
toml=0.10.1=py_0
torch=1.6.0=pypi_0
torchvision=0.7.0=pypi_0
tornado=6.0.4=pypi_0
tqdm=4.48.2=pypi_0
traitlets=4.3.3=pypi_0
trimesh=3.8.4=pypi_0
urllib3=1.25.8=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
wget=3.2=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=pypi_0
wrapt=1.11.2=py38h7b6447c_0
xz=5.2.5=h7b6447c_0
zlib=1.2.11=h7b6447c_3
